#!/bin/bash
set -euo pipefail

plugin_dir="{{ if eq .chezmoi.os "windows" }}{{ .chezmoi.homeDir }}/AppData/Roaming/Zellij/config{{ else }}{{ .chezmoi.homeDir }}/.config/zellij{{ end }}/plugins"
mkdir -p "$plugin_dir"

curl -sL -o "$plugin_dir/zjstatus.wasm" \
    https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm
curl -sL -o "$plugin_dir/zjframes.wasm" \
    https://github.com/dj95/zjstatus/releases/latest/download/zjframes.wasm
