[Unit]
Description=waynergy synergy client for wayland
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/local/bin/waynergy
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
