[Unit]
Description=Waywallen wallpaper daemon
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=%h/Applications/waywallen.AppImage --no-ui
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
